---
import Card from '../UI/Card.astro'
---

<Card>
	<h1 class="text-balance mb-4 text-4xl font-bold">Welcome to the Astro Starter Project!</h1>
	<p class="mb-4 text-lg">
		The Astro architecture is fantastic and versatile, making it suitable for various projects. You can easily implement
		a vanilla JS structure for creative development, such as page transitions and animations, which can be challenging
		with other frameworks like React.
	</p>
	<h2 class="mb-2 text-2xl">
		This boilerplate includes configurations for ESLint and Prettier, along with a few essential libraries:
	</h2>
	<ul class="mb-4 list-disc pl-8">
		<li>Gsap</li>
		<li>Tailwind CSS</li>
		<li>Lodash</li>
		<li>Locomotive Scroll</li>
		<li>Split Type (for text splitting)</li>
	</ul>
	<div class="flex flex-row justify-between">
		<a class="underline" href="https://github.com/Ali-Dakoumi/astro-boilerplate">View Source Code</a>
		<a class="underline" href="https://astro-boilerplate-vert.vercel.app/">Live Demo</a>
	</div>
</Card>
