---
import Layout from '../layouts/Layout.astro'
import AboutCard from '../components/AboutComponents/AboutCard.astro'
---

<Layout title="Welcome to Astro boilerplate.">
	<div id="content" class="content h-full" data-template="about">
		<div class="about h-full">
			<div class="about__wrapper h-full">
				<div class="about__content h-full">
					<AboutCard />
				</div>
			</div>
		</div>
	</div>
</Layout>
