---
import Layout from '../layouts/Layout.astro'
import ContactCard from '../components/ContactComponents/ContactCard.astro'
---

<Layout title="Welcome to Astro boilerplate.">
	<div id="content" class="content h-full" data-template="contact">
		<div class="contact h-full">
			<div class="contact__wrapper h-full">
				<div class="contact__content h-full">
					<ContactCard />
				</div>
			</div>
		</div>
	</div>
</Layout>
