---
import Layout from '../layouts/Layout.astro'
import HomeCard from '../components/HomeComponents/HomeCard.astro'
import Gallery from '../components/Gallery.astro'
import { getPage } from '../prismic.js'

const page = await getPage('home')
---

<Layout title={page.data.page_title}>
	<div id="content" class="content h-full" data-template="home">
		<div class="home h-full">
			<div class="home__wrapper h-full">
				<div class="home__content h-full">
					<HomeCard />
					<Gallery />
				</div>
			</div>
		</div>
	</div>
</Layout>
