<section
	class="linear-gradient(to right, rgb(187, 247, 208), rgb(74, 222, 128), rgb(34, 197, 94)) container mx-auto mt-8 w-11/12 max-w-xl rounded-lg p-8 shadow-lg"
>
	<h1 class="text-balance mb-4 text-4xl font-bold">Welcome to the Astro Starter Project!</h1>
	<p class="mb-4 text-lg">
		The Astro architecture is fantastic and versatile, making it suitable for various projects. You can easily implement
		a vanilla JS structure for creative development, such as page transitions and animations, which can be challenging
		with other frameworks like React.
	</p>

	<h2 class="mb-2 text-2xl">
		This boilerplate includes configurations for ESLint and Prettier, along with a few essential libraries:
	</h2>
	<ul class="mb-4 list-disc pl-8">
		<li>Gsap</li>
		<li>Tailwind CSS</li>
		<li>Lodash</li>
		<li>Locomotive Scroll</li>
		<li>Split Type (for text splitting)</li>
	</ul>
</section>
