---
import Script from '../components/Script.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="flex min-h-screen max-w-[100vw] items-center justify-center overflow-hidden bg-black font-sans text-white"
	>
		<slot />
		<Script />
	</body>
</html>
<style is:global>
	body::before {
		position: absolute;
		z-index: -1;
		content: '';
		top: 0%;
		bottom: 10%;
		width: 150%;
		left: -25%;
		background: linear-gradient(260deg, #3245ff 0%, #bc52ee 100%);
		-webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
		mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
	}
</style>
