---
import Gallery from '../components/Gallery.astro'
import Header from '../components/Header.astro'
import Script from '../components/Script.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="./base.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen max-w-[100vw] items-center justify-center overflow-hidden bg-black font-sans text-white">
		<div class="preloader fixed z-50 h-full w-full bg-black">
			<div class="preloader__number">0%</div>
		</div>
		<Header />
		<slot />
		<Script />
	</body>
</html>
